<h1>
  This is a test landing site to expiriment with firebase and angular
  integrations.
</h1>

<ul *ngIf="customers">
  <li *ngFor="let customer of customers | async">
    {{ customer.id }}, {{ customer.name }}, {{ customer.location }}, Account
    balance: $ {{ customer.balance }}
  </li>
</ul>

<form [formGroup]="form">
  Name: <br /><input formControlName="name" /> <br />
  Location: <br /><input formControlName="location" />
  <button (click)="createCustomer()">Create Customer</button>
  <button (click)="modifyCustomer()">Modify Customer</button>
  <button (click)="deleteCustomer()">Delete Customer</button>
</form>
